name: Terraform_and_Cloud_Run_Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Backend to Cloud Run
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Write service account key to file
        run: echo '${{ secrets.GCP_SA_KEY }}' > $HOME/gcp-key.json

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: .
        run: terraform init

      - name: Terraform Apply
        working-directory: .
        run: terraform apply -auto-approve -input=false \
          -var="project_id=${{ secrets.GCP_PROJECT_ID }}" \
          -var="credentials_file=$HOME/gcp-key.json" \
          -var="image_url=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/cloudrun-repo/backend-app:v1"
